.font-face {
  font-family: "Comfortaa", cursive;
}

.img-field{
  src: url('./images/FieldR.png')
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.topnav-right {
  float: right;
}

.nav-rcorners2 {
  border-radius: 25px;
  border: 2px solid lightskyblue;
  padding: 22px;
  padding-top: 2px;
  width: 100px;
  height: 20px;
}

.img-about{
  width: 600px;
  height: 250px;
}